<h1>@ViewBag.oneCategory.CategoryName</h1>
<a href="/Categories">Home</a>

<div class="row">
  <div class="col">
    <h4>Categories:</h4>
    <ul>
      <li></li>
    </ul>
  </div>
  <div class="col">
    <p>Add Category</p>
    <form action="/catTOproduct" method="post">
        <select>
          <option></option>
          </select>
            <input type="Submit" value="Add">
    </form>
  </div>
</div>