  <div class="row">
      <h1 class="col-10">Wellcome to the Wedding Planner</h1>
      <a class ="col" href="/clear">LOG OUT</a>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Wedding</th>
            <th scope="col">Date</th>
            <th scope="col">Guest</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>boto</td>
            <td>boto</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
    <button><a href="/addWedding" class="text-dark">New Wedding</a></button>
    </div>
  </div>