

    <div class="col text-right">
    <a href="/addDish">Add a Dish</a>
    </div>
    <h1 class="text-center"><a href="/">Chefs</a> | Dishes</h1>

    <h4>Yum,take a look at our tasty dishes!</h4>

    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col"># of Dishes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>rrrr</td>
        <td>wwwww</td>
        <td>rrrr</td>
        </tr>
    </tbody>
    </table>
