@model List<Dish>
    <div class="col text-right">
    <a href="/addDish">Add a Dish</a>
    </div>
    <h1 class="text-center"><a href="/">Chefs</a> | Dishes</h1>

    <h4>Yum,take a look at our tasty dishes!</h4>

    <table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Name</th>
        <th scope="col">Chef</th>
        <th scope="col">Tastiness</th>
        <th scope="col">Calories</th>
        </tr>
    </thead>
    <tbody>
          @foreach(var i in Model)
          {
            <tr>
              <td>@i.NameDish</td>
              <td>@i.Chef.FirstName</td>
              <td>@i.Tastiness</td>
              <td>@i.Calories</td>
            </tr>
          }
    </tbody>
    </table>
